@page "/Articulos"
@page "/Articulos/{ArticuloId:int}"

@using PrimerParcial.BLL
@using PrimerParcial.Models

@inject IToastService toast 


<EditForm Model="articulos" OnValidSubmit="Guardar">
    <DataAnnotationsValidator/>
    <div class="card">
        <div class="card-header">
            <h3>Registro de Articulos</h3>
        </div>
        <div class="card-body">
            <form>
                <div class="form-row align-items-center">
                    <div class="col">
                        <div class="form-group">
                            <label>ArticuloId</label>
                            <div class="input-group">
                                <InputNumber @bind-Value="articulos.ArticuloId" class="form-control"></InputNumber>
                                <ValidationMessage For="(() => articulos.ArticuloId)"></ValidationMessage>
                                <div class="input-group-append">
                                    <button type="button" class="btn btn-primary" @onclick="Buscar">Buscar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label>Descripción:</label>
                    <InputText @bind-Value="articulos.Descripcion" class="form-control" />
                    <ValidationMessage For="@(() => articulos.Descripcion)" />
                </div>

                <div class="form-group">
                    <label>Exitencia:</label>
                    <InputNumber @bind-Value="articulos.Existencia" @onclick="CalcularInventario" class="form-control" />
                    <ValidationMessage For="@(() => articulos.Existencia)" />
                </div>

                <div class="form-group">
                    <label>Costo:</label>
                    <InputNumber @bind-Value="articulos.Costo" @onclick="CalcularInventario" step="00.2" class="form-control" />
                    <ValidationMessage For="@(() => articulos.Costo)" />
                </div>

                <div class="form-group">
                    <label>Valor de inventario:</label>
                    <InputNumber @bind-Value="articulos.Inventario" readonly="true" step="00.2" class="form-control" />
                    <ValidationMessage For="@(() => articulos.Inventario)" />
                </div>

            </form>
        </div>
        <div class="card-footer">
            <div class="form-group text-center">
                <button type="button" class="btn btn-primary" @onclick="Nuevo"> Nuevo </button>
                <button type="submit" class="btn btn-success" @onclick ="Guardar" >Guardar </button>
                <button type="button" class="btn btn-danger" @onclick="Eliminar">Eliminar </button>
            </div>
        </div>
    </div>
</EditForm>



@code {

        Articulos articulos = new Articulos();

        [Parameter]
        public int ArticuloId { get; set; }

    protected override void OnInitialized()
    {
        Nuevo();

        Buscar();
    }

    private void Nuevo()
    {
        this.articulos = new Articulos();
    }

    private void Guardar()
    {
        bool paso;
        paso = ArticulosBLL.Guardar(articulos);

        if (paso)
        {
            Nuevo();
            toast.ShowSuccess("Guardado Correctamente");
        }
        else
        {
            toast.ShowError("No se puedo Guardar");
        }
    }

    private void Buscar()
    {
        var encontrado = ArticulosBLL.Buscar(articulos.ArticuloId);

        if (encontrado != null)
        {
            this.articulos = encontrado;
        }
        else
        {
            toast.ShowWarning("No encontrado");
        }

    }

    private void Eliminar()
    {
        bool eliminado;

        eliminado = ArticulosBLL.Eliminar(articulos.ArticuloId);

        if (eliminado)
        {
            Nuevo();
            toast.ShowSuccess("Eliminado correctamente");
        }
        else
        {
            toast.ShowError("No se pudo eliminar");
        }
    }

    private void CalcularInventario()
    {
        decimal calculo = (articulos.Existencia * articulos.Costo);
        articulos.Inventario = calculo;
    }
}
